// *************************************
//
//   Icon
//   -> Features icons
//
// *************************************

.icon
  margin-bottom: $b-space
  width: 5em

// -------------------------------------
//   Scaffolding
// -------------------------------------

.icon-inner
  fill: $c-red

.icon-outer
  fill: $c-blue
