// *************************************
//
//   Input
//   -> Request a demo
//
// *************************************

.input
  position: relative
  margin-bottom: $b-space-s

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.input-label
  color: lighten($c-text-invert, 50%)
  left: 0
  position: absolute
  top: 30%
  transform: scale(1.1)
  transition: all 100ms ease-out
  width: 100%
  &:hover
    cursor: text

.input-text
  -webkit-appearance: none
  border: none
  border-radius: $b-borderRadius
  box-shadow: $c-blue 0 0 0 0
  color: $c-text-invert
  font-size: $b-fontSize * 1.25
  outline: none
  padding: $b-space 0 $b-space-s
  text-align: center
  transition: box-shadow 100ms ease-out
  width: 100%
  &:valid
    + .input-label
      color: lighten($c-text-invert, 50%)
      font-size: 65%
      font-weight: bold
      top: 12%
  &:focus
    box-shadow: $c-blue 0 0 0 4px
    + .input-label
      color: $c-blue
      font-size: 65%
      font-weight: bold
      top: 12%
