// *************************************
//
//   Jellyfish
//   -> Just a smack of "jellies"
//
// *************************************

.jellyfish
  +respond-to($g-m)
    -webkit-overflow-scrolling: touch
    height: 100vh
    overflow-x: hidden
    overflow-y: auto
    perspective: 10px
    position: relative
    z-index: 1

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Bubbles ----- //

.jellyfish-bubbles
  background: url(image-path('bg-bubbles.png'))
  background-size: 100%
  height: 5000px
  left: 0
  margin: 0 auto
  position: absolute
  right: 0
  top: -700px
  transform: scale(0.6) translateZ(4px)
  max-width: 1000px
  z-index: 0

// ----- Header ----- //

.jellyfish-header
  position: relative
  img
    left: 0
    margin: 0 auto
    position: absolute
    right: 0
    width: 100%
    z-index: -1
    +respond-to($g-m)
      transform: scale(0.8) translateZ(2px)

// Modifiers

.jellyfish--anatomy
  h3
    margin: $b-space-l auto
  img
    margin-top: -100px
    max-width: 300px

.jellyfish--engage
  h3
    margin-bottom: $b-space-m
  img
    margin-top: -75px
    max-width: 325px

.jellyfish--feature
  h2
    margin: $b-space-m auto
  img
    margin-top: -65px
    max-width: 325px

.jellyfish--tagline
  font-size: 2vw
  +respond-to($g-m)
    font-size: inherit
  h1:first-child
    margin-bottom: 0.25em
    margin-top: 1.75em
    position: relative
    +respond-to($g-m)
      z-index: -2
  h1:last-child
    margin-bottom: 2.75em
  img
    margin-top: -130px
    max-width: 500px
    +respond-to(650px, min-height)
      margin-top: -105px
    +respond-to(900px, min-height)
      margin-top: -80px
    +respond-to(1200px, min-height)
      margin-top: -50px

// ----- Particles ----- //

.jellyfish-particles
  @extend .stretch
  background: url(image-path('bg-particles.jpg'))
  background-position: center
  background-size: ((737 * 0.5) + px) ((672 * 0.5) + px)
  height: 2250px
  transform: scale(2) translateZ(-10px)
  z-index: -4
