// *************************************
//
//   Logo
//   -> Any and al logos
//
// *************************************

.logo
  display: block
  margin: 0 auto
  width: 12em
  +respond-to($g-m)
    float: left
    width: 13em
  &:hover,
  &:focus
    .logo-icon,
    .logo-type
      opacity: 0.75

// -------------------------------------
//   Modifiers
// -------------------------------------

.logo--list
  float: none
  list-style: none
  padding: 0
  width: 100%
  li
    display: inline-block
    margin-bottom: $b-space-m
    width: 100%
    +respond-to($g-m)
      width: 25%
    img
      margin: $b-space-xs $b-space-s
      max-height: 2.5em
      max-width: 12em

// -------------------------------------
//   Scaffolding
// -------------------------------------

.logo-icon
  margin: 0 auto 0.5em
  width: 2.5em
  +respond-to($g-m)
    float: left
    width: 1.875em

.logo-type
  margin: 0 auto
  width: 100%
  +respond-to($g-m)
    float: right
    width: 10.25em
