// *************************************
//
//   Navigation
//   -> Branding and featured links
//
// *************************************

.navigation
  clear: both
  overflow: hidden
  padding: $b-space-m $b-space 0
  +respond-to($g-m)
    padding: $b-space-l $b-space 0
  nav
    font-size: 90%
    margin-top: 1em
    text-align: center
    width: 100%
    +respond-to($g-m)
      float: right
      font-size: 100%
      margin-top: 0
      text-align: right
      width: auto
    a
      box-sizing: border-box
      display: inline-block
      padding: 0.25em 1em
      text-align: right
      width: calc(50% - 1.125em)
      &:nth-child(2n)
        text-align: left
      +respond-to($g-s)
        margin: 0 $b-space-s
        padding: 0
        width: auto
      +respond-to($g-m)
        width: auto
