%footer.footer
  .cell
    %nav
      %a{href: '#'} Features
      %a{href: '#'} Documentation
      %a{href: '#'} Request&nbsp;a&nbsp;Demo
    %hr
    %a.footer-logo{href: 'http://www.boozallen.com/'}
      = image_tag "/assets/images/logo-bah.svg"
    %p &copy; 2015 Booz Allen Hamilton
