%footer.footer
  .cell
    %nav
      = link_to 'Features', '/#features'
      = link_to 'Documentation', '/documentation/jellyfish-basics/getting-started'
      = link_to 'How To Engage', '/#how-to-engage'
    %hr
    %a.footer-logo{href: 'http://www.boozallen.com/'}
      = image_tag "/assets/images/logo-bah.svg"
    %p &copy; 2015 Booz Allen Hamilton
