.navigation
  .cell
    %a.logo{href: '/'}
      .logo-icon
        = partial "/assets/images/logo-icon.svg"
      .logo-type
        = partial "/assets/images/logo-type.svg"
    %nav
      %a{href: '#'} Features
      %a.mlm{href: '/documentation/jellyfish-basics/getting-started'} Roadmap
      %a.mlm{href: '/documentation/jellyfish-basics/getting-started'} Documentation
      %a.mlm{href: '#'} How&nbsp;to&nbsp;Engage
